body {
    margin: 0px;
    background-color: black;
}

#main {
    display: none;
    width: 1237px;
    margin: 0px;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.shape {
    /*background-color: blue;*/
    display: none;
    height: 8px;
    width: 8px;
    margin: 0px;
    position: absolute;
    z-index: 1;
}

.shape div {
    height: 8px;
    width: 8px;
}

.shape img {
    width: 500px;
}

.flame {
    z-index: 2;
    border: thick double white;
    border-width: 10px;
}

.img-hidden {
    overflow: hidden;
}

.img-visible {
    overflow: visible;
}

#progressArea {
    z-index: 0;
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
    text-align: center;
    height: 50vh;
    margin-top: 25vh;
    margin-bottom: 25vh;
    font-size: 2em;
    color: white;
}

#progress {
    font-size: 1em;

}

#icon {
    width: 10vw;
    border-radius: 50%;
    animation: rotation 1s;
    animation-iteration-count: infinite;
    border: solid red 1px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
